form {
  width: 85%;
  height: auto;
  min-width: 320px;
  max-width: 700px;
  padding: 20px 12px;
  border-radius: 12px;
  background: #ffffffaf;
  font-family: "Poppins";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1e1e1f;
  margin-bottom: 26px;
  font-family: "Courier New", Courier, monospace;
}

textarea {
  background-color: #f9fbfc;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  border-radius: 10px;
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  width: 120px;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    color: black;
    font-weight: 500;
}

.TodoForm-button--add {
  background: green;
  border-radius: 10px;
}

.TodoForm-button--add:hover {
  background: rgba(0, 128, 0, 0.699);
  border-radius: 10px;
}

.TodoForm-button--cancel {
  background: #fa2929;
  border-radius: 10px;
}

.TodoForm-button--cancel:hover {
  background: #ff0000b4;
  border-radius: 10px;
}
