.TodoItem {
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.137); */
    border-radius: 25px;
    height: 100px;
    width: 95%;
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: black;
  }

  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
    color: black;
  }
  
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    end: 12px;
    right: 10px;
    color: red;
  }
  .Icon-delete:hover {
    color: rgb(212, 61, 61);
  }